---
import { Box, Text, Container, Divider, Section } from "@/components/index";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="max-w-screen-xl mx-auto grid grid-cols-2">
    <div>
      <video
        src="https://cdn.boringordinary.com/snowy-about.mp4"
        class="aspect-1"
        autoplay
        loop
        muted
        width="100%"
        playsinline></video>
    </div>
    <div class="prose max-w-prose p-8 leading-normal text-neutral-600">
      <Text display gradient="primary">We do things differently.</Text>

      <Text>It’s the only way we know how.</Text>

      <Text>
        It was 2013, and we wanted to sell online. To introduce our first
        product to market, we built websites unlike the e-commerce world had
        seen. We designed the site, branding, and media that cut through the
        noise. When those websites got more attention than the product did, we
        realized we might be on to something.
      </Text>

      <Text>
        There’s a theory that your style is the way that you make mistakes in
        ways that only you can make them. We developed our style by doing things
        wrong in ways that felt right. In fact, the company was started on
        accident.
      </Text>
    </div>
  </div>

  <Container
    size="lg"
    center
    css={{
      display: "grid",
      gridTemplateColumns: "1fr",
      "@md": {
        gridTemplateColumns: "1fr 1fr",
      },
    }}
  />

  <Divider />

  <Container size="sm">
    <Section>
      <Text display gradient="primary">You're in good hands</Text>
      <Text display size="xs" color="neutral">
        We're leaders from the top companies in digital commerce, from D2C
        brands to the platforms themselves.
      </Text>

      <Box />
    </Section>
  </Container>
</Layout>
