---
import Layout from "../layouts/Layout.astro";
import { Button, Text } from "@components/index";
---

<Layout title="Where Ambitious Brands Grow">
	<Text size="lg">
		👋 Hello, we bring distinctive solutions for ambitious companies to cut
		through the noise.
	</Text>
	<Button client:load size="lg">Work with Us</Button>
</Layout>
