---
import { Button } from "@components/index";
import Layout from "../layouts/Layout.astro";

const sectionStyles = "container mx-auto max-w-screen-xl px-4 py-16";
const data = { companies: [] };
---

<Layout title="Where Ambitious Brands Grow">
	<div class={sectionStyles}>
		<div class="grid grid-cols-2 py-16">
			<div>
				<h1
					class="md:text-7xl text-5xl font-extrabold mb-2 md:mb-6 md:leading-[1.1]"
				>
					High-Impact Design for Hire
				</h1>
				<h2
					class="text-2xl md:text-3xl mb-8 text-neutral-600 leading-normal md:leading-normal"
				>
					👋 Eddie, we craft websites for ambitious brands looking to cut
					through the noise.
				</h2>

				<Button size="xl" round client:load>Work with Us</Button>
			</div>

			<div></div>

			<!-- <Cards>
					{
						data.featuredWork.map((item, i) => (
							
						))
					}
				</Cards> -->
		</div>

		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6"></div>
	</div>

	<div
		class="container max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2"
	>
		<div>
			<img src="/images/homepage/local-owner.jpeg" alt="" />
		</div>
		<div class="max-w-md mx-auto">
			<h2 class="text-4xl font-bold mb-4">Is Peak Power Obviously Awesome?</h2>
			<p class="text text-neutral-500 text-xl leading-normal">
				Choices are everywhere, so your business gets lost in the crowd. We make
				it resonate. How do we do that? By getting to the core of what makes you
				magical, then figuring out the most intimate, authentic way to show it –
				so your customers know you're the undisputed best option.
			</p>
		</div>
	</div>

	<div class={sectionStyles}>
		<h2 class="text-center text-5xl font-bold mb-4">We value 3 things</h2>
	</div>
</Layout>
