---
import Layout from "../layouts/Layout.astro";
import { Button } from "@components/index";
---

<Layout title="Where Ambitious Brands Grow">
	<div class="container mx-auto">
		<h1 class="text-7xl font-extrabold">
			High-Impact Design to Grow Your Business
		</h1>

		<Button size="xl" client:load>Work with Us</Button>
	</div>
</Layout>
