---
import Layout from "../layouts/Layout.astro";
import { Button, Text, Heading } from "@components/index";
---

<Layout title="Where Ambitious Brands Grow">
	<Heading size="xl">High-Impact Design to Grow Your Business</Heading>
	<Text>
		👋 Hello, we bring distinctive solutions for ambitious companies to cut
		through the noise.
	</Text>
	<Button client:visible size="lg">Work with Us</Button>
</Layout>
