---
import { Box, Section, Text } from "@components/index";
import { Hero } from "./index/Hero";
import { LogoReel } from "./index/LogoReel";
import Layout from "../layouts/Layout.astro";
import { client } from "@content/index";
import groq from "groq";

const data = await client.fetch(groq`
*[_type == "homepage"][0]{
  ...,
  featuredWork[]-> {
    ...,
    slug,
    color,
    preview {
      ...,
      "image": image.asset->,
    }
  },
  services {
    ...,
    "services": services[]->{
      ...,
      "icon": icon.asset->,
    }
  },
  companies {
    ...,
    logos[] {
      ...,
      "image": asset->
    }
  },
}
`);

const logos = data.companies.logos.map(({ image }: any) => {
  return {
    alt: image.url,
    src: image.url,
  };
});
---

<Layout title="Where Ambitious Brands Grow">
  <Section>
    <Hero client:load />

    <Box css={{ maxWidth: "$sm", mx: "auto" }}>
      <Text display color="neutral" align="center" />
    </Box>

    <Box
      css={{
        display: "flex",
        alignItems: "center",
        flexDirection: "column",
      }}
    >
      <Text align="center" weight="500" size="sm"
        >Trusted by the world's fastest-growing brands</Text
      >
      <LogoReel logos={logos} />
    </Box>
  </Section>

  <Section>
    <Text display align="center">Tired of traditional agencies?</Text>
  </Section>

  <Text display align="center">We work differently.</Text>
</Layout>
