---
import Layout from "../layouts/Layout.astro";
import { Button, Text, Heading, Box } from "@components/index";
---

<Layout title="Where Ambitious Brands Grow">
	<div class="container mx-auto">
		<Heading size="xl">High-Impact Design to Grow Your Business</Heading>
		<Text size="xl3" css={{ my: "$4" }}>
			👋 Hello, we bring distinctive solutions for ambitious companies to cut
			through the noise.
		</Text>
		<Button size="xl" round client:load>Work with Us</Button>
	</div>
</Layout>
