---
import { Box, Section, Text } from "@components/index";
import { Hero } from "./index/Hero";
import Layout from "../layouts/Layout.astro";

const data = { companies: [] };
---

<Layout title="Where Ambitious Brands Grow">
	<Section>
		<Hero client:load />

		<Box css={{ maxWidth: "$sm", mx: "auto" }}>
			<Text display color="neutral" align="center">
				Agencies devouring your budget? Recruitment slowing you down?</Text
			>
		</Box>
	</Section>
</Layout>
