---
import { Section, Text } from "@components/index";
import { Hero } from "./index/Hero";
import { LogoReel } from "./index/LogoReel";
import Layout from "../layouts/Layout.astro";
import { client } from "@content/index";
import groq from "groq";

const data = await client.fetch(groq`
*[_type == "homepage"][0]{
  ...,
  featuredWork[]-> {
    ...,
    slug,
    color,
    preview {
      ...,
      "image": image.asset->,
    }
  },
  orgs[]-> {
    ...,
    "logo": logo.asset->
  },
}
`);

const logos =
  data.orgs.slice(0, -1).map(({ logo, name }: any) => {
    return {
      alt: name,
      src: logo.url,
    };
  }) || [];
---

<Layout title="Where Ambitious Brands Grow">
  <Hero client:load />

  <div class="max-w-screen-sm mx-auto">
    <Text display color="neutral" align="center" />
  </div>

  <div class="flex items-center flex-col gap-4">
    <p class="align-center font-medium text-base text-gray-500">
      Trusted by fast-growing, modern brands
    </p>
    <LogoReel logos={logos} />
  </div>

  <Section size="md">
    <Text display align="center">Tired of traditional agencies?</Text>
  </Section>

  <Section>
    <Text display align="center">We work differently.</Text>
  </Section>
</Layout>
