---
import { Section, Text, ContentRenderer, Button } from "@components/index";
import { Hero } from "./index/Hero";
import { LogoReel } from "./index/LogoReel";
import { Letter } from "./index/Letter";
import { Testimonials } from "./index/Testimonials";
import Layout from "../layouts/Layout.astro";
import { client } from "@content/index";
import groq from "groq";

const data = await client.fetch(groq`
*[_type == "homepage"][0]{
  ...,
  features -> {
    features[]->
  },
  orgs[]-> {
    ...,
    "logo": logo.asset->
  },
}
`);

const logos =
  data.orgs.slice(0, -1).map(({ logo, name }: any) => {
    return {
      alt: name,
      src: logo.url,
    };
  }) || [];
---

<Layout title="Where Ambitious Brands Grow">
  <Hero client:load />

  <div class="max-w-screen-sm mx-auto">
    <Text display color="neutral" align="center" />
  </div>

  <div class="flex items-center flex-col gap-4">
    <p class="align-center font-medium text-base text-gray-500">
      Trusted by fast-growing, modern brands
    </p>
    <LogoReel logos={logos} />
  </div>

  <!-- Testimonial cards that animate and pop out to the sides -->
  <!-- Testimonials can also prove a point -->
  <Section size="md">
    <Letter content={data.letter.content} client:visible />
  </Section>

  <Section>
    <Text display align="center"
      >Your frontend includes everything to set you apart.</Text
    >
    <Text size="lg" align="center" color="neutral-600"
      >Branding, authentic videos, a cutting-edge website.</Text
    >

    {
      data.features.features.map((feature: any) => {
        return (
          <div class="mx-auto my-8 grid max-w-screen-sm grid-cols-2">
            <div class="flex flex-col gap-2">
              <Text display size="sm">
                {feature.title}
              </Text>
              <ContentRenderer content={feature.description} />
            </div>

            <div>
              <video
                src="https://www.sanity.io/dad34dae-73ae-4c4d-9b02-b1872b805480"
                autoplay
                playsinline
                muted
                loop
              />
            </div>
          </div>
        );
      })
    }
  </Section>

  <Section>
    <Testimonials client:visible />
  </Section>

  <Section>
    <div
      class="mx-auto text-center flex flex-col items-center max-w-screen-sm gap-4"
    >
      <Text align="center" display>Take your business to the next level</Text>
      <Text color="neutral-600"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        quasi temporibus ipsam nostrum earum hic omnis perferendis impedit
        praesentium laborum?</Text
      >

      <div class="mt-2">
        <Button size="lg" shadow="lg">Get Started</Button>
      </div>
    </div>
  </Section>

  <Section />
</Layout>
