---
import { Section, Text, Divider } from "@components/index";
import { Hero } from "./index/Hero";
import { LogoReel } from "./index/LogoReel";
import { LinkMagic } from "./index/LinkMagic";
import { EvolvingSection } from "./index/EvolvingSection";
import { VideoPortalSection } from "./index/VideoPortalSection";
import Layout from "../layouts/Layout.astro";
import { client } from "@content/index";
import groq from "groq";
import MuxPlayer from "@mux/mux-player-react";

const data = await client.fetch(groq`
*[_type == "homepage"][0]{
  ...,
  features -> {
    features[]->
  },
  orgs[]-> {
    ...,
    "logo": logo.asset->
  },
}
`);

const logos =
  data.orgs.slice(0, -1).map(({ logo, name }: any) => {
    return {
      alt: name,
      src: logo.url,
    };
  }) || [];

const orderSteps = [
  {
    title: "1. Pick a plan",
    tagline: "Choose a plan that fits your needs",
    description: "Choose a plan that fits your needs and budget.",
  },
  {
    title: "2. Prepare",
    tagline: "We build your site and launch it",
    description:
      "Fill out a 100 point survey to help us position your business and create your content. B+O’s project manager books a video call with you to learn even more.",
  },
  {
    title: "3. Launch",
    tagline: "You launch your site and start selling",
    description:
      "We work our magic and your site is fully online in 14 business days or less.",
  },
];
---

<Layout title="Where Ambitious Brands Grow">
  <Hero client:load />

  <div class="max-w-screen-sm mx-auto">
    <Text display color="neutral" align="center" />
  </div>

  <div class="flex items-center flex-col gap-4">
    <p class="align-center font-medium text-base text-gray-500">
      Trusted by fast-growing, modern brands
    </p>
    <LogoReel logos={logos} />
  </div>

  <!-- Testimonial cards that animate and pop out to the sides -->
  <!-- Testimonials can also prove a point -->

  <Section>
    <div class="max-w-md mx-auto">
      <Text display gradient="primary" size="sm">
        Made by world-class talent, designed for your industry, positioned for
        your segment, and customized for your quirks.<br /><br />Built on
        cutting-edge tech, and constantly evolving, at an impossibly low monthly
        price.<br /><br />
      </Text>
    </div>

    <Text display size="lg" align="center"
      >B+O websites are without compromise.</Text
    >

    <LinkMagic client:visible />
  </Section>

  <VideoPortalSection />

  <Section>
    <div class="mx-auto my-8 grid max-w-screen-md">
      <img src="/images/pen-stroke.png" class="h-36 w-36" />
      <Text display size="lg"
        >We'll make written and visual content that sells.</Text
      >

      <div class="mx-auto">
        <Text display size="sm">
          Effective content tells your value proposition in a way that hooks
          your audience.
          <br />
          <br />
          But it's impossible to stand out without knowing the visual constraints
          unique to web.
          <br />
          <br />
        </Text>

        <Text display>You just can't be an expert in everything.</Text>
        <Text display size="xs">Content Architecture</Text>
        <Text color="neutral-600">
          Defines the visual hierarchy and sequence of your content. Without it,
          visitors can't see how you're different.
        </Text>

        <Text display size="xs">Clear Positioning</Text>
        <Text color="neutral-600">
          Finds your winning lane, in a market that is crowded with competitors.
          It's also knowing who you're uniquely qualified to serve.
        </Text>

        <Text display size="xs">Industry Research</Text>
        <Text color="neutral-600">
          Our advisors know the zeitgeist of your industry, and we are
          constantly learning from the latest research from Neilsen Norman.
        </Text>
      </div>
    </div>
  </Section>

  <Section>
    <div class="mx-auto my-8 grid max-w-screen-md">
      <div class="flex gap-4">
        <img src="/images/play-shape.png" class="h-36 w-36 rotate-[-514deg]" />
        <div>
          <Text display size="lg" align="left"
            >The future of websites is watchable.</Text
          >
          <Text display size="sm" color="neutral-600" align="left"
            >Our talented voice actors make you whiteboard pitch videos that
            convey complex ideas in an engaging video format.</Text
          >
        </div>
      </div>
      <MuxPlayer
        client:visible
        style={{ height: "100%", maxWidth: "100%" }}
        streamType="on-demand"
        playbackId="Dc8u02pLO02SbclOCuS6Hgue8EOaFRbrq8"
        metadata={{
          video_title: "Strategy call",
          viewer_user_id: "unidentified",
        }}
      />
    </div>
  </Section>

  <Section>
    <div class="mx-auto my-8 grid max-w-screen-md">
      <img class="h-36 rotate-[187deg]" src="/images/faster-comet.png" />

      <Text display size="lg" lineHeight="snug"
        >Insanely fast. Optimized for Google Core Vital scores.</Text
      >

      <!-- Google core vital scores -->

      <Text display size="sm"
        >B+O websites are built on web tech you won't find with mainstream site
        builders, or even other agencies.
        <br />
      </Text>

      <Section size="sm">
        <div class="grid grid-cols-2 gap-4">
          <div class="">
            <Text display size="xs" gradient="secondary"
              >Content on Headless CMS</Text
            >
            <Text
              >Easily edit content on our CMS – decoupled from the frontend –
              and never worry about breaking your website or slowing it down.</Text
            >
          </div>
          <div class="">
            <Text display size="xs" gradient="secondary"
              >Island Rendering Architecture</Text
            >
            <Text
              >Components on the page load incrementally, built statically, and
              don't ship unnecessary code. This results in sites up to 92%
              lighter to deliver over the network.</Text
            >
          </div>
        </div>
        <div class="my-8">
          <Divider />
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="">
            <Text display size="xs" gradient="secondary">Mobile Responsive</Text
            >
            <Text weight="medium" color="neutral-700"
              >Pixel-perfect for any screen size, every component is designed
              for a smooth experience on-the-go.</Text
            >
          </div>
          <div class="">
            <Text display size="xs" gradient="secondary">SEO-optimized UI</Text>
            <Text weight="medium" color="neutral-700"
              >Each page is highly accessible and performant, giving you favored
              treatment with Google's ranking algorithm.</Text
            >
          </div>
        </div>
      </Section>
    </div>
  </Section>

  <Section>
    <div class="mx-auto my-8 grid max-w-screen-md">
      <img src="/images/ouroboros.png" class="h-24" />
      <Text display lineHeight="snug"
        >Subscription gets you top-quality<br />at the lowest price.</Text
      >
    </div>
  </Section>

  <EvolvingSection />
</Layout>
