---
import { Box, Section, Text } from "@components/index";
import { Hero } from "./index/Hero";
import Layout from "../layouts/Layout.astro";

const data = { companies: [] };
---

<Layout title="Where Ambitious Brands Grow">
	<Section>
		<Hero client:load />

		<Box>
			<Text size="xl">It's no news</Text>
		</Box>
	</Section>
</Layout>
