---
import { PricingCard, Section, Text } from "@/components";
import type { Tiers } from "@/components/PricingCard";
import Layout from "@/layouts/Layout.astro";

const tiers: Tiers = [
  {
    title: "Starter",
    description: "Industry-standard design quality",
    priceMonthly: 7995,
    features: [
      {
        features: [
          {
            title: "Time capacity",
            value: "60 hours",
          },
          {
            title: "Time capacity",
            value: "60 hours",
          },
        ],
      },
    ],
  },
  {
    title: "Pro",
    prominent: true,
    description: "Industry-standard design quality",
    priceMonthly: 15995,
    features: [
      {
        features: [
          {
            title: "Time capacity",
            value: "120 hours",
          },
        ],
      },
    ],
  },
  // {
  //   title: "Plus",
  //   description: "Industry-standard design quality",
  //   priceMonthly: 3000,
  //   features: [
  //     {
  //       features: [
  //         {
  //           title: "Time capacity",
  //           value: "120 hours",
  //         },
  //       ],
  //     },
  //   ],
  // },
];
---

<Layout title="Pricing">
  <Section size="sm">
    <div class="max-w-screen-xl mx-auto">
      <div class="max-w-prose py-10 text-center flex flex-col gap-4 mx-auto">
        <h1 class="text-5xl font-bold leading-tight">
          Scalable plans for all your project's needs.
        </h1>
        <p class="text-xl text-neutral-600">
          For when your requirements are changing, and you want to retain an
          elite team. Includes a dedicated team, unlimited requests and
          revisions, and a project manager to keep you posted every step of the
          way.
        </p>
      </div>
    </div>
  </Section>

  <Section align="center">
    <div class="flex justify-center max-w-screen-md w-full">
      <PricingCard tiers={tiers} client:load />
    </div>
  </Section>

  <Section>
    <Text display>Need something more?</Text>

    <a href="/sessions/book">
      <div class="mx-auto w-full">
        <div class="mt-4">
          <div
            class="bg-zinc-900 text-white rounded-lg w-full p-6 text-center shadow-xl border-2 transition hover:border-violet-400 border-transparent duration-150"
          >
            <Text display size="md" gradient="primary">B+O Plus+</Text>
            <Text display size="xs">Pay what it's worth</Text>
          </div>
        </div>
      </div>
    </a>
  </Section>
</Layout>
