---
import { Text, Container, PricingCard, Section } from "@/components";
import type { Tiers } from "@/components/PricingCard";
import Layout from "@/layouts/Layout.astro";

const tiers: Tiers = [
  {
    title: "Starter",
    description: "Industry-standard design quality",
    priceMonthly: 3995,
    features: [
      {
        features: [
          {
            title: "Time capacity",
            value: "60 hours",
          },
          {
            title: "Time capacity",
            value: "60 hours",
          },
        ],
      },
    ],
  },
  {
    title: "Pro",
    prominent: true,
    description: "Industry-standard design quality",
    priceMonthly: 7995,
    features: [
      {
        features: [
          {
            title: "Time capacity",
            value: "120 hours",
          },
        ],
      },
    ],
  },
  {
    title: "Plus",
    description: "Industry-standard design quality",
    priceMonthly: 3000,
    features: [
      {
        features: [
          {
            title: "Time capacity",
            value: "120 hours",
          },
        ],
      },
    ],
  },
];
---

<Layout title="Pricing">
  <Container size="lg" center>
    <div class="max-w-prose py-10 text-center flex flex-col gap-4 mx-auto">
      <h1 class="text-5xl font-bold leading-tight">
        Scalable plans for all your project's needs.
      </h1>
      <p class="text-xl text-neutral-600">
        Every plan includes a dedicated team, unlimited requests and revisions,
        and a project manager to keep you posted every step of the way.
      </p>
    </div>

    <PricingCard tiers={tiers} client:load />
  </Container>
</Layout>
