---
import { getCssText } from "@/styles";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

const css = getCssText;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="shortcut icon" href="/branding/favicon.png" />
		<link rel="icon" href="/branding/favicon.png" />

		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=PT+Serif&family=Nanum+Pen+Script&display=swap"
			rel="stylesheet"
		/>

		<style>
			/* Fluid responsiveness */
			html {
				font-size: calc(0.625rem + 0.41666666666666663vw);
			}
			@media screen and (max-width: 1920px) {
				html {
					font-size: calc(0.625rem + 0.41666666666666674vw);
				}
			}
			@media screen and (max-width: 1440px) {
				html {
					font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
				}
			}
			@media screen and (max-width: 479px) {
				html {
					font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
				}
			}
		</style>

		<title>{title} ~ Boring+Ordinary</title>

		<style set:html={css}>

		</style>
		<script>
			import { globalStyles } from "@/styles/index";

			globalStyles();
		</script>
	</head>

	<slot />
</html>
