---
import { Footer, TopBar } from "@components/index";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="shortcut icon" href="/branding/favicon.png" />
    <link rel="icon" href="/branding/favicon.png" />

    <style>
      @font-face {
        font-family: "B+O";
        src: url("/fonts/B+O/400/font.woff2") format("woff2"),
          url("/fonts/B+O/400/font.woff");
        font-weight: 400;
      }
      @font-face {
        font-family: "B+O";
        src: url("/fonts/B+O/500/font.woff2") format("woff2"),
          url("/fonts/B+O/500/font.woff");
        font-weight: 500;
      }
      @font-face {
        font-family: "B+O";
        src: url("/fonts/B+O/600/font.woff2") format("woff2"),
          url("/fonts/B+O/600/font.woff");
        font-weight: 600;
      }
      @font-face {
        font-family: "B+O";
        src: url("/fonts/B+O/700/font.woff2") format("woff2"),
          url("/fonts/B+O/700/font.woff");
        font-weight: 700;
      }
      @font-face {
        font-family: "B+O";
        src: url("/fonts/B+O/800/font.woff2") format("woff2"),
          url("/fonts/B+O/800/font.woff");
        font-weight: 800;
      }
      /* Fluid responsiveness */
      html {
        font-size: calc(0.625rem + 0.41666666666666663vw);
      }
      @media screen and (max-width: 1920px) {
        html {
          font-size: calc(0.625rem + 0.41666666666666674vw);
        }
      }
      @media screen and (max-width: 1440px) {
        html {
          font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
        }
      }
      @media screen and (max-width: 479px) {
        html {
          font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
        }
      }
    </style>

    <title>{title} ~ Boring+Ordinary</title>

    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5X83C13P3M"
    ></script>
    <script
      type="text/partytown"
      id="google-analytics"
      strategy="afterInteractive"
    >
      {
        `
                      window.dataLayer = window.dataLayer || [];
                      function gtag(){window.dataLayer.push(arguments);}
                      gtag('js', new Date());

                      gtag('config', 'G-5X83C13P3M');
                    `;
      }
    </script>

    <script>
      // @ts-ignore
      import { listen } from "quicklink";

      listen();
    </script>
  </head>
  <body
    class="duration-100 hover:duration-100 active:duration-100 focus:duration-100 ease-in-out"
  >
    <div
      class="grid grid-rows-[auto_1fr_auto] min-h-screen max-w-screen overflow-hidden"
    >
      <TopBar client:load currentPath={Astro.url.pathname} />

      <div>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
